body {
    background-color: #f3f3f3;
}
#searchBar {
    width: 100px;
}
span.sitesUrl {
    font-size: 20px;
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: #2f2f2f;
        color: #eeeeee;
        opacity: 0.87; /* 设置字体透明度为87%以增加可读性 */
    }
    a {
        color: #6ab0e5;
    }
}